@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #a1a1aa; /* zinc-400 */
}

/* Ocultar scrollbar globalmente pero permitir funcionalidad */
*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
