@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #a1a1aa; /* zinc-400 */
}

/* Ocultar scrollbar globalmente pero permitir funcionalidad */
*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* Estilos para limpiar el autollonado (autofill) feo de los navegadores */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #09090b inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Para navegadores que no son webkit si llegara a aplicar */
input:autofill {
  background-color: transparent !important;
  color: white !important;
}
