@import 'tailwindcss';

@theme {
  --color-zinc-950: #09090b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #a1a1aa; /* zinc-400 */
}

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
